html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 !important;
    /* padding: 0 !important; */
}

section {
    margin: 20px 0;
}

.white-title-font {
    color: white;
    font-weight: 800;
    font-size: xx-large;
}

.black-title-font {
    color: black;
    font-weight: 800;
    font-size: 50px;
}

.white-desc-font {
    color: white;
    font-weight: 500;
    font-size: x-large;
}

.black-desc-font {
    color: black;
    font-weight: 500;
    font-size: x-large;
}

.title {
    text-align: center;
    padding-top: 50px;
}

.navigation {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    font-size: large;
    font-weight: 800;
    color: rgba(255, 255, 255, .7);
    padding: 30px 15%;
    vertical-align: middle;
}

.navigation > p {
    float: left;
}

.main-nav {
    float: right;
    padding: auto;
}

.main-nav > a:link, .main-nav > a:visited, .navigation > a {
    margin: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
}

.main-nav > a:hover {
    color: rgba(255, 255, 255, 1);
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/banner/banner.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 200px;
}

#inner-banner {
    padding: 100px;
    background-color: rgba(0, 0, 0, .5);
    border: 2px solid white;
    text-align: center;
}

.icon img {
    width: 30px;
    margin: 30px;
}

#about-me {
    padding: 30px;
}

#about-me-desc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 15%;

    border: 1px solid black;
}

.about-me-specific {
    display: flex;
}

.writing > p:nth-child(odd) {
    font-weight: bold;
}

.about-me-specific .writing {
    display: flex;
    flex-direction: column;
}

#skills {
    /* margin: 0 auto; */
    padding: 30px;
    background-color: #f9c51d;
}

.skills-set {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.skills-set > img {
    position: relative;
    width: 50%;
    padding: 10%;
    margin: 10px;
    border-radius: 15%;
    background: aliceblue;
}

.skills-set > img:hover {
    top: 15px;
}

#projects {
    background: cornflowerblue;
    padding: 30px 60px;
}

.one-project {
    background: white;
    border-radius: 25px;
    padding: 30px;
    margin: 20px;
}

.project-title {
    padding: 10px;
}

.project_desc {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: start;
    align-items: flex-end;
}

.project_desc > img {
    grid-column: 1;
    grid-row: 1/-1;
    width: 300px;
    height: 200px;
}

.project-title {
    text-align: center;
}

.project-title > h3 {
    margin: 0;
}

.desc1 {
    font-weight: bold;
}
 
@media (max-width: 1045px) {
    #inner-banner {
        padding: 10%;
        background-color: rgba(0, 0, 0, .5);
        border: 2px solid white;
        text-align: center;
    }

    .skills-set {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    .project_desc {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4, 1fr);
        justify-items: start;
        align-items: flex-end;
    }

    .project_desc > img {
        display: none;
    }
}

@media (max-width: 670px) {
    .skills-set {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
}